/** CSS STYLE **/
:root {

  --white: #fff;
  --translucentWhite: #d7ccc0;
  --ligth: #f5f4f0;
  --main: #fe8a02;
  --mainDark: #42413c;
  --dark: #2a2626;
  --translucentDark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: 'Neucha';
  src: url('../media/assets/fonts/Neucha/Neucha-Regular.ttf');
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../media/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../media/assets/fonts/Open_Sans/OpenSans-italic-VariableFont_wdth,wght.ttf');
}

body {

  font-family: 'Open-Sans';
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {

  line-height: 1.2em;
  font-family: 'Neucha';
}

h1 {

  font-size: 72px;
}

h2 {

  font-size: 60px;
}

h3 {

  font-size: 34px;
}

main,
header,
footer {

  width: 1110px;
  align-items: center;
  top: 100px;
  bottom: 100px;
}

.maincolor {

  color: var(--main);
}

.top {

  margin-top: 100px;
}

.dark {

  color:var(--dark) ;
}

header {
  
  position: relative;
  display: inline-block;
  background-image: url(/root/layout-designer-project-lvl1/media/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
}

.picture-header {

  position: relative;
}

.heading {

  position: absolute;
}

.position {

  position: absolute;
  height: 525px;
  left: 461px;
  top: 55px;
}

text {

  position: absolute;
  display: flex;
  align-content: center;
}

.text-left {

  flex: 1;
}

.text-rigth {

  flex: 1;
}