/** CSS STYLE **/
:root {

  --white: #fff;
  --translucentWhite: #d7ccc0;
  --ligth: #f5f4f0;
  --main: #fe8a02;
  --primaryDark: #42413c;
  --dark: #2a2626;
  --translucentDark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: 'Neucha';
  src: url('../media/Fonts/Neucha/Neucha-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../media/Fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../media/Fonts/OpenSans/OpenSans-Regular.ttf');
}

body {

  font-family: 'OpenSans-Regular';
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {

  line-height: 1.2em;
  font-family: 'Neucha';
  font-weight: 400;
}

h1 {

  font-size: 72px;
}

h2 {

  font-size: 60px;
}

h3 {

  font-size: 34px;
}

* {
  margin: 0;
  padding: 0;
}

header {
  display: block;
}

body {
  position: relative;
}

.background::before {

  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../media/Picture/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
  content: "";
}
.background {

  position: relative;
  overflow: hidden;
}

.background-light {

  background: var(--ligth);
}

.container {

  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.z-index-2 {

  z-index: 2;
}

.color-main {

  color: var(--main);
}

.heading-picture {

  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.z-index-1 {

  z-index: 1;
}

.half-block {

  flex-grow: 1;
  width: calc(50% - 20px);
}

.margin-right-30 {

  margin-right: 30px;
}

.margin-top-190 {

  margin-top: 190px;
}

.header-button {
  width: 110px;
  height: 25px;
  margin-top: 35px;
  padding: 12px 24px 12px 24px;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
}

.background-main {

  background: var(--main);
}

.font-white {

  color: var(--white);
}

.background-white {

  background: var(--white);
}

.shadow {

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  margin-bottom: 16px;
}

.text-center {

  text-align: center;
}

.margin-vertical {

  margin-top: 27px;
  margin-bottom: 30px;
}

.margin-top-100 {

  margin-top: 100px;
}

.margin-top {

  margin-top: -100px;
}

.background-primary-dark {

  background-color: var(--primaryDark);
}

.text-aling-left {

  text-align: left;
}

.padding-top-100 {

  padding-top: 100px;
}

.box {
  display: flex;
  margin: 0 -5px;
  margin-left: -20px;
}
.block {
  flex: 1 1 auto;
  margin: 0 5px;
  padding: 24px;
}

.box {
  margin-bottom: 30px;

}
.block {

  width: 302px;
  background: var(--white);
  margin-left: 20px;
  cursor: pointer;
}

.block-header {

  flex: 1 1 auto;
  margin: 0 5px;
  width: 350px;
  height: 325px;
  margin-left: 20px;
}

.font-size-52 {

  font-size: 52px;
}

.color-white {

  color: var(--white);
}

.margin-top-40 {
  
  margin-top: 40px;
}

.margin-top-15 {

  margin-top: 15px;
}

.color-dark {

  color: var(--dark);
}

.number {

  font-size: 64px;
  font-family: 'Neucha';
  line-height: 1;
  margin-bottom: 40px;
  color: var(--primaryDark);
}

.text-decoration {

  text-decoration: none;
}

.animation:hover {
  color: var(--white);

  background: var(--main);
}

.animation:hover span {
  color: var(--white);
}

.animation:hover .hover {
  color: var(--white);
}

.animation:hover .number {
  color: var(--white);
}

.section-img {

  width: calc(50% - 20px);
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 16px 32px);
}

.h4 {

  font-weight: normal;
  font-size: 24px;
  font-family: 'Neucha';
  line-height: 1.2em;
  color: var(--translucentDark);
}

.color-translucentDark {

  color: var(--translucentDark);
}

.h3 {

  font-weight: normal;
  font-size: 34px;
  font-family: 'Neucha';
  line-height: 1.2em;
}

.margin-top-30 {

  margin-top: 30px;
}

.section-line {
  width: 100%;
  margin-top: 100px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.h3-section {
  font-weight: 700;
  font-size: 16px;
  font-family: "OpenSans";
  line-height: 1.6em;
}

.margin-top-20 {

  margin-top: 20px;
}

.background-brown {

  background: var(--brown);
}

.background-white {

  background: var(--white);
}

.margin-left-30 {

  margin-left: 30px;
}

.color-brown {

  color: var(--brown);
}

.color-translucentWhite {

  color: var(--translucentWhite);
}

.footer-dark-block {
  display: flex;

  justify-content: space-between;

  width: 100%;

  padding: 50px;
}

.footer-title {
  margin-top: auto;
  margin-bottom: auto;

  font-size: 36px;
}

.mail-block {
  position: relative;
  right: 80px;
}

.mail-input-field {
  width: 360px;
  height: 20px;
  padding: 15px;

  font-size: 17px;
}

.footer-button {
  position: absolute;
  top: 34px;
  left: 394px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
  height: 54px;
}

.footer-button::before {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: url(../media/Picture/send.svg);
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.footer-email-title {
  margin-bottom: 8px;
  font-weight: 700;
}

.footer-text {
  width: 100%;
  margin-top: 60px;
  line-height: 2.5em;
  text-align: center;
}

.padding-top-0 {

  padding-top: 0;
}

.font-size-13 {

  font-size: 13px;
}